
#root .wuliu {
	border-bottom: 1px solid #ddd;
	.am-list-item .am-list-line .am-list-content{
		color: #588fff;
		white-space: normal;
	}
}
.OrderDetail{
	width: 100%;
	height: 100%;
	.warp{
		width: 100%;
		height: calc(100% - 100px);
		overflow: hidden;
	}
	.head{
		padding:30px 20px 28px;
		background: #fff;
		position: relative;
		p{
			@include font(26px,#999);
			line-height: 1.5;
			span,i{
				@include font(30px, #222);
			}
			i{
				color: #588fff;
			}
			i.money{
				color: #e4393c;
			}
		}
		img{
			width: 236px;
			position: absolute;
			top: -5px;
			right: 0;
		}
	}
	.msg{
		border-top: 1px solid #ddd;
		@include font(28px);
		line-height: 90px;
		background: #fff;
		padding:0 20px;
	}
	.title{
		height: 90px;
		line-height: 90px;
		padding: 0 20px;
		background: #fff;
		border-bottom: 1px solid #ddd;
		@include font(30px);
		span{
			@include font(32px,#588fff)
		}
	}
	.body{
		li{
			// height: 140px;
			overflow: hidden;
			background: #fff;
			padding: 30px 20px 15px;
			border-bottom: 1px solid #ddd;
			img{
				width: 140px;
				height: 140px;
			}
			.right{
				width: 510px;
				padding:0 30px;
				div{
					@include font(26px);
					line-height: 1;
					margin-top: 20px;
					margin-bottom: 38px;
				}
				p{
					@include font(30px,#e4393c);
					span{
						float: right;
						color: #222;
					}
				}
			}
			.backMoneyBtn{
				clear: both;
				float: right;
				border: 1px solid #588fff;
				color: #588fff;
				padding: 8px 28px;
				border-radius: 45px;
			}
			.backMoney{
		    text-align: right;
				color: #ff5000;
				clear: both;
			}
		}
		li.clearfix{
			height: 140px;
			line-height: 1.5;
			padding: 10px 0.26667rem 10px;
			p{
				@include font(26px,#999);
			}
			div{
				margin-top: 15px;
				@include font(30px);
				span{
					color: #e4393c;
				}
			}
		}
	}
	.bottom{
		position: fixed;
		bottom: 0;
		width: 100%;
    box-sizing: border-box;
		border-top: 1px solid #ddd;
		height: 100px;
		line-height: 100px;
		padding:0 20px;
		background: #fff;
		@include font(26px);
		span{
			width:130px;
			height: 56px;
			border-radius: 10px;
			text-align: center;
			line-height: 56px;
			border:1px solid #ddd;
			display: inline-block;
		}
		.pull-right{
			// width: 290px;
			div,a{
				display: inline-block;
		    padding: 0 10px;
				height: 56px;
				text-align: center;
				line-height: 56px;
				border-radius: 10px;
				color: #999;
				margin-top: 22px;
				border: 1px solid #ddd;
			}
			.ok{
				color: #588fff;
				margin-left: 20px;
			}
		}
	}
}
